@import 'tailwindcss';

@font-face {
    font-family: 'BMJUA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'BMJUA';
    overflow: auto;              /* 스크롤 동작은 유지 */
    scrollbar-width: none;       /* Firefox용 */
    -ms-overflow-style: none;    /* IE 10+용 */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {/* 크롬, 사파리 스크롤바 숨기기 */
  display: none;
}

.swiper-wrapper {
  perspective: 1200px;
  /* transform: translate3d(0, 0, 0); */
  width:400% !important;
  /* perspective:1200px; */
}
/* test */